<div class="container">
    <h2 class="text-center"><i class="fa fa-hashtag space" aria-hidden="true"></i>Logowanie</h2>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <hr>
        <form name="loginForm" ng-submit="vm.login()">
            <div class="form-group row">
                <span class="col-sm-1"></span>
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-7">
                    <input name="email" type="email" ng-model="vm.model.email"
                           class="form-control" id="email" placeholder="Email">
                </div>
                <span class="col-sm-4"></span>
            </div>
            <div class="form-group row">
                <span class="col-sm-1"></span>
                <label for="password" class="col-sm-2 col-form-label">Hasło</label>
                <div class="col-sm-7">
                    <input name="password" ng-model="vm.model.password" type="password"
                           class="form-control" id="password" placeholder="Hasło">
                </div>
                <span class="col-sm-4"></span>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10 text-right">
                    <a class="btn btn-default" href="#/rejestracja">Załóż konto</a>
                    <button ng-disabled="loginForm.$incalid" type="submit" class="btn btn-primary">Zaloguj</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-12">
        <div class="custom-error col-centered" ng-show="vm.errorData">
            <div class="alert alert-danger" role="alert">
                <strong>{{vm.errorData.message}}</strong>
            </div>
        </div>
        <div class="custom-error col-centered"
             ng-show="loginForm.email.$invalid && loginForm.email.$touched">
            <div class="alert alert-danger text-center" role="alert">
                <strong>Nieprawidłowy email</strong>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
