<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="uiApp">
    <div class="container-large" ng-controller="MainCtrl as main">
         <ng-include ng-if="main.isLoggedIn()" src="'src/menu/menu.html'"></ng-include>
        <div class="col-lg-12 top-padding">
            <div ng-view=""></div>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="src/app.js"></script>
    <script src="src/routing.js"></script>
    <script src="src/constants.js"></script>
    <script src="src/search/searchService.js"></script>
    <script src="src/search/search-list/searchTasksListCtrl.js"></script>
    <script src="src/search/new-search-task/newSearchTaskCtrl.js"></script>
    <script src="src/global/loadingDirective.js"></script>
    <script src="src/global/fileModelDirective.js"></script>
    <script src="src/auth/registrationCtrl.js"></script>
    <script src="src/auth/login/loginCtrl.js"></script>
    <script src="src/auth/authService.js"></script>
    <script src="src/global/mainCtrl.js"></script>
    <script src="src/menu/menuCtrl.js"></script>
    <!-- endbuild -->
</body>
</html>