<loading loader="vm.loader"></loading>
<div class="container" ng-if="!vm.loader">
    <h2 class="text-center"><i class="fa fa-hashtag space" aria-hidden="true"></i>Rejestracja</h2>
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <hr>
            <form name="registrationForm" ng-submit="vm.register()">
                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label text-right">Email</label>
                    <div class="col-sm-9">
                        <input name="email" type="email" ng-model="vm.model.email" class="form-control"
                               id="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label text-right">Hasło</label>
                    <div class="col-sm-9">
                        <input name="password" type="password" ng-model="vm.model.password" class="form-control"
                               id="password" placeholder="Hasło">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="repeatPassword" class="col-sm-3 col-form-label text-right">Powtórz hasło</label>
                    <div class="col-sm-9">
                        <input name="repeatEmail" type="password" ng-model="vm.model.repeatPassword"
                               class="form-control" id="repeatPassword" placeholder="Powtórz hasło" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg"
                                ng-disabled="registrationForm.$invalid">Zarejestruj
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <div class="custom-error col-centered" ng-show="vm.errorData">
            <div class="alert alert-danger" role="alert">
                <strong>{{vm.errorData.message}}</strong>
            </div>
        </div>
        <div class="custom-error col-centered"
             ng-show="registrationForm.email.$invalid && registrationForm.email.$touched">
            <div class="alert alert-danger text-center" role="alert">
                <strong>Nieprawidłowy email</strong>
            </div>
        </div>
        <div class="custom-error col-centered" ng-show="vm.passwordError">
            <div class="alert alert-danger " role="alert">
                <strong>Hasła nie są takie same</strong>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

