<loading loader="vm.loader"></loading>
<div class="col-lg-12" ng-if="!vm.loader">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Task id</th>
                <th>Wyszukiwane frazy</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
                <tr  ng-repeat="searchTask in vm.data">
                    <th scope="row">{{$index + 1}}</th>
                    <td ng-if="vm.isReadyToOpen(searchTask.status)">
                        <a href="" ng-click="vm.showResults(searchTask)">{{searchTask.taskId}}</a>
                    </td>
                    <td ng-if="!vm.isReadyToOpen(searchTask.status)">{{searchTask.taskId}}</td>
                    <td>{{searchTask.searchKeys}}</td>
                    <td><span ng-class="vm.colors[searchTask.status]">{{searchTask.status}}</span></td>
                </tr>
        </tbody>
    </table>
</div>
