<div class="modal-header">
    <h3 class="modal-title">Wyniki wyszukiwania</h3>
</div>
<div class="modal-body">
        <ul class="list-group" ng-if="taskData.errorInfo === null">
            <li class="list-group-item" ng-repeat="row in taskData.rows">{{row.url}}<br>
                <span ng-repeat='occurrence in row.occurrences'
                  ng-class="occurrence.flag ? 'label label-success': 'label label-danger'" class="space">
                {{occurrence.name}}
                </span>
            </li>
        </ul>
        <pre class="tab" ng-if="taskData.errorInfo !== null">
            {{taskData.errorInfo}}
        </pre>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn btn-info"><i class="fa fa-times" aria-hidden="true"></i> Zamknij</button>
</div>
